
<!-- el primer numero es el mínimo de digitos enteros -->
<!-- el segundo numero es el mínimo de digitos decimales -->
<!-- el tercer numero es el máximo de decimales -->
<p>{{numero | number: '3.4-5'}}</p>

<!-- el primer numero es el mínimo de digitos enteros -->
<!-- el segundo numero es el mínimo de digitos decimales -->
<!-- el tercer numero es el máximo de decimales -->
<p>{{porcentaje | percent: '1.2-2'}} </p>

<!-- LE PONEMOS ENTRE COMILLAS EL VALOR DE LA MONEDA -->
<p>{{precio | currency: 'EUR'}} </p>

<!-- SI NO PONEMOS NADA POR DEFECTO PONE DOLAR -->
<p>{{precio | currency}} </p>

<p>{{fechaActual | date}}</p>

<!-- esto lanza las horas cortas -->
<p>{{fechaActual | date: 'shortTime'}}</p>

<!-- esto lanza las horas con el uso horario -->
<p>{{fechaActual | date: 'longTime'}}</p>

<!-- devuelve la fecha completa -->
<p>{{fechaActual | date: 'fullDate'}}</p>


<p>{{fechaActual | date: 'dd/M/y'}}</p>

<p>{{fechaActual | date: 'dd/MM/y'}}</p>

<p>{{fechaActual | date: 'dd/MM/yy'}}</p>

<p>{{fechaActual | date: 'dd/MM/yy HH:mm:ss'}}</p>


<p>{{miString | uppercase}} </p>
<p>{{miString | lowercase}} </p>

<p>{{alumnos | json}}</p>

<!-- El primer numero indica donde empieza y el segundo donde termina -->
<p>{{animales | slice: 0:2}} </p>

<p>{{miPromesa | async}} </p>

<hr>
<div>
  <section>
    <article *ngFor="let user of miPromesa | async">
      <h3>{{user.name}}</h3>
      <p>{{user.phone}}</p>
    </article>
  </section>
</div>
